<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Image format support</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    <h1>Image format support</h1>
    <p>
      This is a simple website to test available image formats in browsers.
    </p>
    <p>
      <a href="https://github.com/rensatsu/image-format-test" target="_blank">Repository</a>.
    </p>

    {%- for format in formats %}
    <h2>{{ format.title }}</h2>
    <picture>
      {%- if format.mime.first %}
        {%- for mime in format.mime %}
        <source
            type="{{ mime }}"
            srcset="assets/{{ imageBaseName }}.{{ format.extension }}"
        />
        {%- endfor %}
      {%- else %}
      <source
          type="{{ format.mime }}"
          srcset="assets/{{ imageBaseName }}.{{ format.extension }}"
      />
      {%- endif %}

      <img
        src="assets/{{ imageBaseName }}.{{ fallback.extension }}"
        alt="Test image for format {{ format.title }}"
      />
    </picture>
    {%- endfor %}
  </body>
</html>
